<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<br>
	Sum:<%= sum %><br>
	Diff:<%= diff %><br>
	Prod:<%= prod %><br>
	Quotient:<%= quotient %><br>
  </body>
</html>
